# Dependencies
node_modules/

# Build
dist/

# Environment
.env

# Logs
logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/

# Temp
tmp/
temp/

# Sequelize
database.sqlite

# Ignore security 
SECURITY.md